#calc-body{
    background-color: #747272;
    height: 480px;
    width: 400px;
    border-style: solid;
    border-width: 2px;
    position: relative;
    border-radius: 8px;
}

#display{
    background-color: #cdcbcb;
    height:120px;
    width: 360px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    position: absolute;
    left: 20px;
    top: 20px;
}

#input{
    font-size: 45px;
    position:absolute;
    right:10px;
    bottom:10px;
}

#numbers{
    display: grid;
    grid-template-columns: repeat(3,81px);
    gap:12px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#operators{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 20px;
    gap: 12px;
    width: 81px;
}

.operator{
    background-color: #b3d9ff;
    border-radius: 6px;
}

#functionality{
    display: flex;
    flex-direction: row;
    gap: 12px;
    position: absolute;
    bottom: 268px;
    left: 44px;
}

.selectors{
    height: 50px;
}

.wide{
    width:150px;
    background-color: #f9f986;
}


button{
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #4d4c4c;
}

button:hover{
    filter:brightness(85%)
}